---
import Globe from '@/components/Globe.astro';
import PlausibleAnalytics from '@/components/PlausibleAnalytics.astro';
import SiteHeader from '@/components/SiteHeader.astro';
import { ClientRouter } from 'astro:transitions';

import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const title = Astro.props.title
  ? `${Astro.props.title} | aelew.com`
  : 'aelew.com';

const description =
  Astro.props.description ?? 'Student, developer, aspiring software engineer.';

const canonical = new URL(Astro.url.pathname, Astro.site).href;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="aelew.com" />
    <meta property="og:url" content={canonical} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:creator" content="@aelew_" />
    <meta property="twitter:url" content={canonical} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />

    <meta name="apple-mobile-web-app-title" content="aelew.com" />
    <meta name="application-name" content="aelew.com" />
    <meta name="theme-color" content="#0a0a0a" />

    <link
      rel="icon"
      sizes="48x48"
      type="image/png"
      href="/favicon-48x48.png?v=2"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png?v=2"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg?v=2" />
    <link rel="manifest" href="/site.webmanifest?v=2" />
    <link rel="shortcut icon" href="/favicon.ico?v=2" />
    <link rel="canonical" href={canonical} />

    <PlausibleAnalytics />
    <ClientRouter />
  </head>
  <body
    class="relative flex min-h-screen flex-col bg-neutral-950 lowercase text-white antialiased sm:px-0"
  >
    <SiteHeader />
    <main class="container">
      <slot />
    </main>
    <footer class="py-8 text-center text-xs tracking-tighter text-neutral-400">
      <p>&copy; 2024 aelew</p>
    </footer>
    <div
      class="fixed inset-x-0 top-14 h-16 w-full bg-neutral-950 to-transparent backdrop-blur-lg [-webkit-mask-image:linear-gradient(to_top,transparent,rgba(10,10,10,0.75))]"
    >
    </div>
    <div
      class="fixed inset-x-0 bottom-0 h-16 w-full bg-neutral-950 to-transparent backdrop-blur-lg [-webkit-mask-image:linear-gradient(to_top,rgba(10,10,10,0.75),transparent)]"
    >
    </div>
    <Globe />
  </body>
</html>
