---
import { ViewTransitions } from 'astro:transitions';

import Header from './Header.astro';

import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const title = Astro.props.title
  ? `${Astro.props.title} | aelew.com`
  : 'aelew.com';

const description =
  Astro.props.description ?? 'Student, developer, indie hacker.';

const canonical = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="aelew.com" />
    <meta property="og:url" content={canonical} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:creator" content="@aelew_" />
    <meta property="twitter:url" content={canonical} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />

    <meta name="apple-mobile-web-app-title" content="aelew.com" />
    <meta name="application-name" content="aelew.com" />
    <meta name="msapplication-TileColor" content="#1abcef" />
    <meta name="theme-color" content="#0a0a0a" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png?v=1"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png?v=1"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png?v=1"
    />
    <link rel="manifest" href="/site.webmanifest?v=1" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=1" color="#1abcef" />
    <link rel="shortcut icon" href="/favicon.ico?v=1" />
    <link rel="canonical" href={canonical} />
    <ViewTransitions />
  </head>
  <body
    class="flex min-h-screen flex-col bg-neutral-950 lowercase text-white antialiased sm:px-0"
  >
    <Header />
    <main class="container">
      <slot />
    </main>
    <footer class="py-8 text-center text-xs tracking-tighter text-neutral-400">
      <p>&copy; 2024 aelew</p>
    </footer>
    <div
      class="fixed inset-x-0 bottom-0 h-16 w-full bg-neutral-950 to-transparent backdrop-blur-lg [-webkit-mask-image:linear-gradient(to_top,rgba(10,10,10,0.75),transparent)]"
    >
    </div>
  </body>
</html>
