---
import { ViewTransitions } from 'astro:transitions';

import Header from './Header.astro';

interface Props {
  title?: string;
  description?: string;
}

const title = Astro.props.title
  ? `${Astro.props.title} | aelew.com`
  : 'aelew.com';

const description = Astro.props.description ?? 'My personal website.';

const canonical = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="aelew.com" />
    <meta property="og:url" content={canonical} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:creator" content="@aelew_" />
    <meta property="twitter:url" content={canonical} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />

    <link rel="canonical" href={canonical} />
    <ViewTransitions />
  </head>
  <!-- prettier-ignore -->
  <body class="flex min-h-screen flex-col bg-neutral-950 lowercase text-white antialiased sm:px-0">
    <Header />
    <main class="container">
      <slot />
    </main>
    <footer class="text-center text-xs tracking-tighter py-8 text-neutral-400">
      <p>&copy; 2024 aelew</p>
    </footer>
  </body>
</html>
